# Eclipse workspace metadata
/.metadata

# Eclipse compiler output
/*/bin
/*/bin_test
/*/generated
/*feature/compile*.xml

# vi detritus
*.swp
*~

# Mac OS detritus
.DS_Store
copyrightLog.txt

# Bnd stuff
bnd.index
