# Eclipse workspace metadata
/.metadata

# Eclipse compiler output
/*/bin
/*/bin_test
/*/generated
/*feature/compile*.xml

# vi detritus
*.swp
*~

# Mac OS detritus
.DS_Store

# Bnd stuff
/bnd.index
/bndtools.launcher
/cnf/bndtools-*.zip

# my rubbish
/Foo*
