# Eclipse workspace metadata
/.metadata
/External Plug-in Libraries

# Eclipse compiler output
/*/bin
/*/bin_test
/*/generated
/*feature/compile*.xml

# vi detritus
*.swp
*~

# Mac OS detritus
.DS_Store

# Bnd stuff
/cnf/eclipse-*/bnd.index
/cnf/cache

# findbugs
*.findbugs.xml
bndtools.ace.launcher/.settings
bndtools.ace.plugin/.settings
