Peter Kriens <peter.kriens@aqute.biz> <peter.kriens@aqute.biz>
Peter Kriens <peter.kriens@aqute.biz> <github@aQute.biz>
Peter Kriens <peter.kriens@aqute.biz> <gitkraken@aqute.biz>
Tim Ward <timothyjward@apache.org> <timothyjward@apache.org>
Neil Bartlett <njbartlett@gmail.com> <neil.bartlett@paremus.com>
Neil Bartlett <njbartlett@gmail.com> <neil.bartlett@ocado.com>
David Jencks <david_jencks@yahoo.com> <david_jencks@yahoo.com>
David Jencks <david_jencks@yahoo.com> <djencks@apache.org>
David Jencks <david_jencks@yahoo.com> <david.a.jencks@gmail.com>
Carter Smithhart <carter.smithhart@gmail.com> <carter.smithhart@gmail.com>
Carter Smithhart <carter.smithhart@gmail.com> <carter.l.smithhart@boeing.com> 
Marc de Jonge <marcdejonge@gmail.com> <marc.dejonge@tno.nl>
Marc Schlegel <marc.schlegel@gmx.de> <marc.schlegel@gmx.de>
Marc Schlegel <marc.schlegel@gmx.de> <marc.schlegel@sdv-it.de>
Marc Schlegel <marc.schlegel@gmx.de> <marc@huginn.fritz.box>
PK Søreide <per.kristian.soreide@gmail.com> <per.kristian.soreide@gmail.com>
PK Søreide <per.kristian.soreide@gmail.com> <per.kristian.soreide@comactivity.com> 
PK Søreide <per.kristian.soreide@gmail.com> <psoreide@192.168.50.30>
PK Søreide <per.kristian.soreide@gmail.com> <psoreide@10.0.1.4>
PK Søreide <per.kristian.soreide@gmail.com> <psoreide@192.168.50.17>
PK Søreide <per.kristian.soreide@gmail.com> <psoreide@192.168.50.19>
PK Søreide <per.kristian.soreide@gmail.com> <psoreide@192.168.50.20>
PK Søreide <per.kristian.soreide@gmail.com> <psoreide@192.168.50.24>
PK Søreide <per.kristian.soreide@gmail.com> <psoreide@192.168.50.25>
Sean Bright <sean@malleable.com> <sean@callshaper.com>
Sean Bright <sean@malleable.com> <sean@transparentbpo.com>
Sean Bright <sean@malleable.com> <sean.bright@gmail.com>
Sean Bright <sean@malleable.com> <seanbright@users.noreply.github.com>
Bram de Kruijff <Bram.deKruijff@gxsoftware.com> <Bram.deKruijff@gxsoftware.com>
Bram de Kruijff <Bram.deKruijff@gxsoftware.com> <bramk@L0115.gx.local>
Paul Bakker <paul.bakker.nl@gmail.com> <paul.bakker@luminis.eu>
Raymond Augé <raymond.auge@liferay.com> <raymond.auge@liferay.com>
Fr Jeremy Krieg <fr.jeremy@greekwelfaresa.org.au> <fr.jkrieg@greekwelfaresa.org.au>
Stefan Bischof <stbischof@bipolis.org>
Christopher Boyd <wodencafe@gmail.com>
BJ Hargrave <bj@hargrave.dev> <bj@hargrave.dev>
BJ Hargrave <bj@hargrave.dev> <bj@bjhargrave.com>
BJ Hargrave <bj@hargrave.dev> <hargrave@us.ibm.com>
Fr Jeremy Krieg <fr.jkrieg@greekwelfaresa.org.au> <fr.jkrieg@greekwelfaresa.org.au>
Fr Jeremy Krieg <fr.jkrieg@greekwelfaresa.org.au> <fr.jeremy@greekwelfaresa.org.au>
Fr Jeremy Krieg <fr.jkrieg@greekwelfaresa.org.au> <kriegfrj@users.noreply.github.com>
Guillaume Nodet <gnodet@gmail.com> <gnodet@apache.org>
Dave Humeniuk <david.humeniuk@udri.udayton.edu>
Konrad Windszus <konrad_w@gmx.de> <kwin@apache.org>
Przemek Wesołek <przemek@wesolek.net> <jest@go.art.pl>
Roman Shevchenko <roman.shevchenko@jetbrains.com> <trespasserw@gmail.com>
Tom Quarendon <tom.quarendon@teamwpc.co.uk> <tom@quarendon.net>
Matteo Rulli <matteo.rulli@gmail.com>
Julius Fingerle <julius.fingerle@gebit.de>
Gareth Collins <gareth.o.collins@gmail.com>
John Weetaker <jjdormevil@gmail.com> <want4planch@gmail.com>
Bartlomiej Sulic <bartlomiej.sulich@intel.com>
Tang Yong <tangyong@cn.fujitsu.com>
Cédric Chabanois <cchabanois@gmail.com>
Vernon Singleton <vsingleton@gmail.com>
Christoph Rueger <chrisrueger@gmail.com>
Jürgen Albert <j.albert@data-in-motion.biz>
dependabot[bot] <support@github.com> <49699333+dependabot[bot]@users.noreply.github.com>
dependabot[bot] <support@github.com> <27856297+dependabot-preview[bot]@users.noreply.github.com>
