Peter Kriens <peter.kriens@aqute.biz> <peter.kriens@aqute.biz>
Peter Kriens <peter.kriens@aqute.biz> <github@aQute.biz>
Tim Ward <timothyjward@apache.org> <timothyjward@apache.org>
Neil Bartlett <njbartlett@gmail.com> <neil.bartlett@paremus.com>
Neil Bartlett <njbartlett@gmail.com> <neil.bartlett@ocado.com>
David Jencks <david_jencks@yahoo.com> <david_jencks@yahoo.com>
David Jencks <david_jencks@yahoo.com> <djencks@apache.org>
Carter Smithhart <carter.smithhart@gmail.com> <carter.smithhart@gmail.com>
Carter Smithhart <carter.smithhart@gmail.com> <carter.l.smithhart@boeing.com> 
Marc de Jonge <marcdejonge@gmail.com> <marc.dejonge@tno.nl>
Marc Schlegel <marc.schlegel@gmx.de> <marc.schlegel@gmx.de>
Marc Schlegel <marc.schlegel@gmx.de> <marc.schlegel@sdv-it.de>
PK Søreide <per.kristian.soreide@gmail.com> <per.kristian.soreide@gmail.com>
PK Søreide <per.kristian.soreide@gmail.com> <per.kristian.soreide@comactivity.com> 
PK Søreide <per.kristian.soreide@gmail.com> <psoreide@192.168.50.30>
PK Søreide <per.kristian.soreide@gmail.com> <psoreide@10.0.1.4>
PK Søreide <per.kristian.soreide@gmail.com> <psoreide@192.168.50.17>
PK Søreide <per.kristian.soreide@gmail.com> <psoreide@192.168.50.19>
PK Søreide <per.kristian.soreide@gmail.com> <psoreide@192.168.50.20>
PK Søreide <per.kristian.soreide@gmail.com> <psoreide@192.168.50.24>
PK Søreide <per.kristian.soreide@gmail.com> <psoreide@192.168.50.25>
Sean Bright <sean@malleable.com> <sean@callshaper.com>
Sean Bright <sean@malleable.com> <sean@transparentbpo.com>
Sean Bright <sean@malleable.com> <sean.bright@gmail.com>
Sean Bright <sean@malleable.com> <seanbright@users.noreply.github.com>
Bram de Kruijff <Bram.deKruijff@gxsoftware.com> <Bram.deKruijff@gxsoftware.com>
Bram de Kruijff <Bram.deKruijff@gxsoftware.com> <bramk@L0115.gx.local>
Paul Bakker <paul.bakker.nl@gmail.com> <paul.bakker@luminis.eu>
Raymond Augé <raymond.auge@liferay.com>
Fr Jeremy Krieg <fr.jeremy@greekwelfaresa.org.au> <fr.jkrieg@greekwelfaresa.org.au>
Christopher Boyd <wodencafe@gmail.com>
