jobs:

- job: OpenJDK8
  pool:
    vmImage: 'ubuntu-16.04'
  steps:
  - bash: |
      set -ev
      curl -O -L --retry 3 https://github.com/sormuras/bach/raw/master/install-jdk.sh
      source install-jdk.sh --url https://cdn.azul.com/zulu/bin/zulu8.33.0.1-jdk8.0.192-linux_x64.tar.gz
      ./gradlew --no-daemon --version
      ./mvnw --version
      ./gradlew --no-daemon -Dmaven.repo.local=maven/target/m2 --continue :build :maven:deploy
    displayName: Build

- job: OpenJDK11
  pool:
    vmImage: 'ubuntu-16.04'
  steps:
  - bash: |
      set -ev
      curl -O -L --retry 3 https://github.com/sormuras/bach/raw/master/install-jdk.sh
      source install-jdk.sh --url https://cdn.azul.com/zulu/bin/zulu11.2.3-jdk11.0.1-linux_x64.tar.gz
      ./gradlew --no-daemon --version
      ./mvnw --version
      ./gradlew --no-daemon -Dmaven.repo.local=maven/target/m2 --continue :build :maven:deploy
    displayName: Build

- job: LocalRebuild
  pool:
    vmImage: 'ubuntu-16.04'
  steps:
  - bash: |
      set -ev
      curl -O -L --retry 3 https://github.com/sormuras/bach/raw/master/install-jdk.sh
      source install-jdk.sh --url https://cdn.azul.com/zulu/bin/zulu8.33.0.1-jdk8.0.192-linux_x64.tar.gz
      ./gradlew --no-daemon -Dmaven.repo.local=maven/target/m2 :biz.aQute.bnd.gradle:build :biz.aQute.bnd.gradle:releaseNeeded
      ./gradlew --no-daemon -Dmaven.repo.local=maven/target/m2 --rerun-tasks -Pbnd_repourl=./dist/bundles :buildscriptDependencies :build
    displayName: Build

- job: WindowsJDK8
  pool:
    vmImage: 'vs2017-win2016'
  steps:
  - bash: |
      set -ev
      ./gradlew --no-daemon --version
      ./mvnw --version
      ./gradlew --no-daemon -Dmaven.repo.local=maven/target/m2 --continue :build :maven:deploy
    displayName: Build

- job: Documentation
  pool:
    vmImage: 'ubuntu-16.04'
  steps:
  - task: UseRubyVersion@0
    inputs:
      versionSpec: '>= 2.4' 
      addToPath: true
  - bash: |
      set -ev
      ruby --version
      gem --version
      gem install bundler
      bundle --version
      cd docs
      ./build.sh
    displayName: Build
