<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="bndtools.jareditor.internal.JAREditor"
            contributorClass="bndtools.jareditor.internal.JAREditorContributor"
            extensions="jar,war,ear,zip"
            icon="icons/jar_obj.gif"
            id="bndtools.jareditor.internal.JAREditor"
            name="JAR Editor">
      </editor>
   </extension>

</plugin>
