
.plain {
	font-family: @text-body;
	font-size: @font-size;
}

div {
	xoutline: 1px solid lightgrey; /* debug */
	vertical-align: top;
}

html {
  height: 100%;
  overflow-y: scroll;
  font-size: 	@font-size;
  font-family:  @text-body;
}


body,p,dl,dt,dd,pre,form,th,td,aside,nav,article,section,caption,table  {
  padding: 		0;
  border: 		0;
  margin: 		0;
}

body {
  background: 		@background;
  color: 			@color;
  margin: 			auto;
}

section {
	margin-top: 1em;
	margin-bottom: 1em;
}


ul, ol {
	padding-left: 2em;
	margin-bottom: @text-separation;
}

ol {
	list-style-type: decimal;
}

ul {
	list-style-type: disc;
}

dl {
	dt {
    	float: left;
    	width: 160px;
    	overflow: hidden;
    	clear: left;
    	text-align: left;
    	text-overflow: ellipsis;
    	white-space: nowrap;
  	}
  	dd {
    	margin-left: 170px;
    	margin-top: @text-separation;
    	text-indent: -1em;
    	&:before {
    		content: "—";
    		display: inline-block;
    		width: 1em;
    		.box-sizing();
    	}
  	}
 	dd:after {
    	clear: both;
  	}
}

table {
  	border-collapse: 	collapse;
  	border-spacing: 	0;
  	width: 100%;
  	margin-bottom: @block-separation;
	td, th { 
		text-align: 	left;
		vertical-align: top;
		padding-top: @text-separation/2;
		padding-bottom: @text-separation/2;
		padding-right:	@gutter;
		&:last-child {
			padding-right:	0;
		}
		height: @line-height;
	}
	
	&.table-bordered {
	  	border: 2px solid lightgrey;
		td, th { 
			border-top: 1px solid lightgrey;
			border-right: 1px solid lightgrey;
			padding-right:	@gutter / 2;
			padding-left:	@gutter / 2;
		}
		th {
		  	border-top: 2px solid lightgrey;
		}
	}
	&.table-striped {
			tbody > tr:nth-child(odd) > td,
			tbody > tr:nth-child(odd) > th {
  				background-color: #f9f9f9;
			}
	}
}


h1, h2, h3, h4, h5, h6 {
  font-family: 		@text-head;
  color:			@secondary-color;
  &:first-child {
     margin-top: 0;
  }
  line-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: @text-separation;
	
}

h1 {
	margin-top: 2em;
	padding-top: 2em;
	border-top: 0.5px solid black;
}


p, li, blockquote, ol, ul {
	margin-bottom: @text-separation;
}


h1 {font-size: 1.5em;}
h2 {font-size: 1.4em;}
h3 {font-size: 1.3em;}
h4 {font-size: 1.2em;}
h5 {font-size: 1.1em;}
h6 {font-size: 1em;}

p {
  word-break:	hyphenate;
}


pre, tt, code, kbd, samp, var {
  font-family: 		@text-mono;
  line-height: 		100%;
  word-wrap: 		break-word;
  word-break:		break-word;
}

pre {
	.box-sizing(border-box);
	margin-bottom: @block-separation;
	padding: @text-separation;
	border: 0.5pt solid darken(@color-code,5%);
	width: 95%;
	background-color: @color-code;
	.rounded(4px);
	
}

blockquote, q, em, cite, dfn, i, cite, var, address {
  font-style: italic;
}

th, strong, dt, b {
  font-weight: bold;
}

blockquote p:before, blockquote p:after, q:before, q:after {content: '';}


a {
	color: 				@secondary-color;
	text-decoration: 	none;
	&:visited 			{ color: lighten(@secondary-color, 15%); }
    &:hover 			{ text-decoration: underline;}
}

abbr, acronym {
  border-bottom: 1px dotted #333;
  font-variant: normal;
}

@media screen {
	body {
		width: 800px;
	}
}