@page {
	@bottom-right { content: "Page " counter(page); }
	@bottom-left { content: "${title}"; }
	border-bottom: 0.5pt solid black;
	border-top: 0.5pt solid black;
}
h1 {
	page-break-before: always; 
}

.running-1 {
	position: running(running-1);
}
.running-2 {
	position: running(running-2);
}
.running-3 {
	position: running(running-3);
}
.running-4 {
	position: running(running-4);
}
.running-5 {
	position: running(running-5);
}
.running-6 {
	position: running(running-6);
}
