<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="bndtools.core.repositoryContributor">
      <repository
            name="Base"
            path="repo/"
            selected="true">
         <description>
            The base repository containing a useful but minimal set of bundles.
         </description>
      </repository>
   </extension>
</plugin>