<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="name.neilbartlett.eclipse.bndtools.repositoryContributor">
      <repository
            name="Base"
            path="repo/">
         <description>
            The base repository containing a useful but minimal set of bundles.
         </description>
      </repository>
   </extension>

</plugin>
