<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="bndtools.core.repositoryContributor">
      <repository
            name="Base"
            class="bndtools.api.repository.EmbeddedRepository:repo"
            implicit="true">
         <description>
            The Base repository is built into Bndtools and contains a small number of useful bundles.
         </description>
      </repository>
   </extension>
</plugin>