<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="osgiFrameworks" name="OSGi Frameworks" schema="schema/osgiFrameworks.exsd"/>
   <extension-point id="osgiFrameworkBuildJobs" name="OSGi Framework Build Jobs" schema="schema/osgiFrameworkBuildJobs.exsd"/>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="name.neilbartlett.eclipse.bndtools.makeBundleContribution"
            nameFilter="*.bnd"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="name.neilbartlett.eclipse.bndtools.MakeBundleWithRefreshAction"
               enablesFor="+"
               id="name.neilbartlett.eclipse.bndtools.makeBundle"
               label="Make Bundle"
               menubarPath="additions"
               tooltip="Create a bundle from this definition file">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="name.neilbartlett.eclipse.bndtools.bndEditorContribution"
            targetID="name.neilbartlett.eclipse.bndtools.bndEditor">
         <action
               class="name.neilbartlett.eclipse.bndtools.MakeBundleWithRefreshAction"
               icon="icons/bundle_obj.gif"
               id="name.neilbartlett.eclipse.bndtools.makeBundleAction"
               label="Make Bundle"
               style="push"
               toolbarPath="Normal/additions">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.jdt.internal.ui.propertiesfileeditor.PropertiesFileEditor"
            default="false"
            extensions="bnd"
            icon="icons/bundle_obj.gif"
            id="name.neilbartlett.eclipse.bndtools.bndEditor"
            name="Bnd Editor">
      </editor>
      <editor
            class="org.eclipse.jdt.internal.ui.propertiesfileeditor.PropertiesFileEditor"
            default="false"
            filenames="config.ini"
            icon="icons/equinox.gif"
            id="name.neilbartlett.eclipse.bndtools.equinoxConfigEditor"
            name="Equinox Config Editor">
      </editor>
      <editor
            class="name.neilbartlett.eclipse.bndtools.editor.BndEditor"
            default="false"
            extensions="bnd"
            icon="icons/bundle_obj.gif"
            id="name.neilbartlett.eclipse.bndtools.newEditor"
            name="New Bnd Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="name.neilbartlett.eclipse.bndtools.wizardCategory"
            name="OSGi">
      </category>
      <wizard
            category="name.neilbartlett.eclipse.bndtools.wizardCategory"
            class="name.neilbartlett.eclipse.bndtools.wizards.newbundle.WizardNewBndDescriptor"
            icon="icons/bundle_obj.gif"
            id="name.neilbartlett.eclipse.bndtools.newBndFile"
            name="Bundle Descriptor">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="name.neilbartlett.eclipse.bndtools.editorContribution1"
            targetID="name.neilbartlett.eclipse.bndtools.editorContribution1">
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="name.neilbartlett.eclipse.bndtools.prefs.frameworks.FrameworkPreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="name.neilbartlett.eclipse.bndtools.osgiFrameworks">
      <framework
            class="name.neilbartlett.eclipse.bndtools.frameworks.equinox.EquinoxFramework"
            displayName="Eclipse Equinox"
            icon="icons/equinox.gif"
            id="equinox">
      </framework>
      <framework
            class="name.neilbartlett.eclipse.bndtools.frameworks.felix.FelixFramework"
            displayName="Apache Felix"
            icon="icons/felix.gif"
            id="felix">
      </framework>
   </extension>
   <extension
         point="name.neilbartlett.eclipse.bndtools.osgiFrameworkBuildJobs">
      <buildJob
            class="name.neilbartlett.eclipse.bndtools.frameworks.equinox.EquinoxBuildJob"
            frameworkId="equinox">
      </buildJob>
      <buildJob
            class="name.neilbartlett.eclipse.bndtools.frameworks.felix.FelixBuildJob"
            frameworkId="felix">
      </buildJob>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="name.neilbartlett.eclipse.bndtools.prefs.frameworks.ui.FrameworksPreferencePage"
            id="name.neilbartlett.eclipse.bndtools.prefsPages.osgiFrameworks"
            name="OSGi Frameworks">
      </page>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="name.neilbartlett.eclipse.bndtools.classpath.FrameworkClasspathContainerInitializer"
            id="name.neilbartlett.eclipse.bndtools.FRAMEWORK_CONTAINER">
      </classpathContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            class="name.neilbartlett.eclipse.bndtools.classpath.FrameworkClasspathPage"
            id="name.neilbartlett.eclipse.bndtools.FRAMEWORK_CONTAINER"
            name="OSGi Framework">
      </classpathContainerPage>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="name.neilbartlett.eclipse.bndtools.launch.LaunchConfigurationDelegate"
            id="name.neilbartlett.eclipse.bndtools.launchConfigurationType"
            modes="run,debug,profile"
            name="OSGi"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="name.neilbartlett.eclipse.bndtools.launch.ui.LaunchTabGroup"
            id="name.neilbartlett.eclipse.bndtools.launchConfigurationTabGroup"
            type="name.neilbartlett.eclipse.bndtools.launchConfigurationType">
         <launchMode
               mode="run">
         </launchMode>
         <launchMode
               mode="debug">
         </launchMode>
         <launchMode
               mode="profile">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="name.neilbartlett.eclipse.bndtools.launch.LaunchShortcut"
            id="name.neilbartlett.eclipse.bndtools.launchShortcut"
            label="OSGi"
            modes="run,debug">
         <configurationType
               id="name.neilbartlett.eclipse.bndtools.launchConfigurationType">
         </configurationType>
      </shortcut>
   </extension>

</plugin>
