<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?><!--
    Copyright (c) 2010 Neil Bartlett.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Neil Bartlett - initial API and implementation
 -->

<plugin>
   <extension-point id="osgiFrameworks" name="OSGi Frameworks" schema="schema/osgiFrameworks.exsd"/>
   <extension-point id="osgiFrameworkBuildJobs" name="OSGi Framework Build Jobs" schema="schema/osgiFrameworkBuildJobs.exsd"/>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="name.neilbartlett.eclipse.bndtools.makeBundleContribution"
            nameFilter="*.bnd"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="name.neilbartlett.eclipse.bndtools.MakeBundleWithRefreshAction"
               enablesFor="+"
               id="name.neilbartlett.eclipse.bndtools.makeBundle"
               label="Make Bundle"
               menubarPath="additions"
               tooltip="Create a bundle from this definition file">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="name.neilbartlett.eclipse.bndtools.bndEditorContribution2"
            targetID="name.neilbartlett.eclipse.bndtools.newBndEditor">
         <action
               class="name.neilbartlett.eclipse.bndtools.MakeBundleWithRefreshAction"
               icon="icons/brick.png"
               id="name.neilbartlett.eclipse.bndtools.makeBundleAction"
               label="Make Bundle"
               style="push"
               toolbarPath="Normal/additions">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="name.neilbartlett.eclipse.bndtools.editor.BndEditor"
            default="false"
            extensions="bnd"
            icon="icons/brick.png"
            id="name.neilbartlett.eclipse.bndtools.newBndEditor"
            name="Bnd Editor">
      </editor>
      <editor
            class="org.eclipse.jdt.internal.ui.propertiesfileeditor.PropertiesFileEditor"
            default="false"
            filenames="config.ini"
            icon="icons/equinox.gif"
            id="name.neilbartlett.eclipse.bndtools.equinoxConfigEditor"
            name="Equinox Config Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="name.neilbartlett.eclipse.bndtools.prefs.frameworks.FrameworkPreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="name.neilbartlett.eclipse.bndtools.osgiFrameworks">
      <framework
            class="name.neilbartlett.eclipse.bndtools.frameworks.equinox.EquinoxFramework"
            displayName="Eclipse Equinox"
            icon="icons/equinox.gif"
            id="equinox"
            supportsAutoConfig="true">
      </framework>
      <framework
            class="name.neilbartlett.eclipse.bndtools.frameworks.felix.FelixFramework"
            displayName="Apache Felix"
            icon="icons/felix.gif"
            id="felix">
      </framework>
   </extension>
   <extension
         point="name.neilbartlett.eclipse.bndtools.osgiFrameworkBuildJobs">
      <buildJob
            class="name.neilbartlett.eclipse.bndtools.frameworks.equinox.EquinoxBuildJob"
            frameworkId="equinox">
      </buildJob>
      <buildJob
            class="name.neilbartlett.eclipse.bndtools.frameworks.felix.FelixBuildJob"
            frameworkId="felix">
      </buildJob>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="name.neilbartlett.eclipse.bndtools.prefs.frameworks.ui.FrameworksPreferencePage"
            id="name.neilbartlett.eclipse.bndtools.prefsPages.osgiFrameworks"
            name="OSGi Frameworks">
      </page>
      <page
            category="name.neilbartlett.eclipse.bndtools.prefsPages.osgiFrameworks"
            class="name.neilbartlett.eclipse.bndtools.prefs.frameworks.ui.PreferredInstancesPreferencePage"
            id="name.neilbartlett.eclipse.bndtools.prefsPages.osgiFrameworks.specLevels"
            name="Preferred Frameworks">
      </page>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="name.neilbartlett.eclipse.bndtools.classpath.FrameworkClasspathContainerInitializer"
            id="name.neilbartlett.eclipse.bndtools.FRAMEWORK_CONTAINER">
      </classpathContainerInitializer>
      <classpathContainerInitializer
            class="name.neilbartlett.eclipse.bndtools.classpath.WorkspaceRepositoryClasspathContainerInitializerFactory"
            id="name.neilbartlett.eclipse.bndtools.WORKSPACE_REPOSITORY">
      </classpathContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            class="name.neilbartlett.eclipse.bndtools.classpath.ui.FrameworkClasspathPage"
            id="name.neilbartlett.eclipse.bndtools.FRAMEWORK_CONTAINER"
            name="OSGi Framework">
      </classpathContainerPage>
      <classpathContainerPage
            class="name.neilbartlett.eclipse.bndtools.classpath.ui.WorkspaceBundlesClasspathPage"
            id="name.neilbartlett.eclipse.bndtools.WORKSPACE_REPOSITORY"
            name="Workspace Bundles">
      </classpathContainerPage>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="name.neilbartlett.eclipse.bndtools.launch.LaunchConfigurationDelegate"
            id="name.neilbartlett.eclipse.bndtools.launchConfigurationType"
            modes="run,debug,profile"
            name="Bnd OSGi"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="name.neilbartlett.eclipse.bndtools.launchConfigurationType"
            icon="icons/bricks.png"
            id="name.neilbartlett.eclipse.bndtools.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="name.neilbartlett.eclipse.bndtools.launch.ui.LaunchTabGroup"
            id="name.neilbartlett.eclipse.bndtools.launchConfigurationTabGroup"
            type="name.neilbartlett.eclipse.bndtools.launchConfigurationType">
         <launchMode
               mode="run">
         </launchMode>
         <launchMode
               mode="debug">
         </launchMode>
         <launchMode
               mode="profile">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="name.neilbartlett.eclipse.bndtools.launch.LaunchShortcut"
            icon="icons/bricks.png"
            id="name.neilbartlett.eclipse.bndtools.launchShortcut"
            label="Bnd OSGi Launch"
            modes="run,debug">
         <configurationType
               id="name.neilbartlett.eclipse.bndtools.launchConfigurationType">
         </configurationType>
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <or>
                        <test
                              args="name.neilbartlett.eclipse.bndtools.bndnature"
                              property="org.eclipse.jdt.launching.hasProjectNature">
                        </test>
                        <test
                              property="org.eclipse.debug.ui.matchesPattern"
                              value="*.bnd">
                        </test>
                     </or>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <enablement>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
               <iterate>
                  <or>
                     <test
                           args="name.neilbartlett.eclipse.bndtools.bndnature"
                           property="org.eclipse.jdt.launching.hasProjectNature">
                     </test>
                     <test
                           property="org.eclipse.debug.ui.matchesPattern"
                           value="*.bnd">
                     </test>
                  </or>
               </iterate>
            </with>
         </enablement>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="name.neilbartlett.eclipse.bndtools.wizardCategory"
            name="Bnd OSGi Tools">
      </category>
      <wizard
            category="name.neilbartlett.eclipse.bndtools.wizardCategory"
            class="name.neilbartlett.eclipse.bndtools.wizards.EmptyBndFileWizard"
            icon="icons/brick_add.png"
            id="name.neilbartlett.eclipse.bndtools.newBndFile"
            name="New Bnd Bundle Descriptor"
            project="false">
      </wizard>
      <wizard
            category="name.neilbartlett.eclipse.bndtools.wizardCategory"
            class="name.neilbartlett.eclipse.bndtools.wizards.WrappingBndFileWizard"
            icon="icons/package_add.png"
            id="name.neilbartlett.eclipse.bndtools.wrappingBndWizard"
            name="New Bnd Wrapper Script for Existing JARs">
      </wizard>
      <wizard
            category="name.neilbartlett.eclipse.bndtools.wizardCategory"
            class="name.neilbartlett.eclipse.bndtools.wizards.NewBndProjectWizardFactory"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            icon="icons/bricks.png"
            id="name.neilbartlett.eclipse.bndtools.newProjWiz"
            name="Bnd OSGi Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="name.neilbartlett.eclipse.bndtools.viewCategory"
            name="Bnd OSGi">
      </category>
      <view
            category="name.neilbartlett.eclipse.bndtools.viewCategory"
            class="name.neilbartlett.eclipse.bndtools.views.impexp.ImportsExportsView"
            icon="icons/packages.gif"
            id="name.neilbartlett.eclipse.bndtools.impExpView"
            name="Imports/Exports"
            restorable="true">
      </view>
   </extension>
   <extension
         id="bndnature"
         name="Bnd OSGi Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="name.neilbartlett.eclipse.bndtools.builder.BndProjectNature">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
      <builder
            id="name.neilbartlett.eclipse.bndtools.bndbuilder">
      </builder>
   </extension>
   <extension
         id="bndbuilder"
         name="Bnd OSGi Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="true"
            hasNature="true">
         <run
               class="name.neilbartlett.eclipse.bndtools.builder.BndIncrementalBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="name.neilbartlett.eclipse.bndtools.nonBndProjectContribution"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="name.neilbartlett.eclipse.bndtools.builder.ToggleNatureAction"
               enablesFor="1"
               icon="icons/bnd_nature_add.png"
               id="name.neilbartlett.eclipse.bndtools.addBndNatureAction"
               label="Add Bnd OSGi Project Nature"
               menubarPath="additions"
               style="push">
         </action>
         <visibility>
            <and>
               <objectState
                     name="projectNature"
                     value="org.eclipse.jdt.core.javanature">
               </objectState>
               <not>
                  <objectState
                        name="projectNature"
                        value="name.neilbartlett.eclipse.bndtools.bndnature">
                  </objectState>
               </not>
            </and>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="name.neilbartlett.eclipse.bndtools.bndProjectContribution"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="name.neilbartlett.eclipse.bndtools.classpath.ui.ManageImportsAction"
               id="name.neilbartlett.eclipse.bndtools.manageImportsAction"
               label="Manage Imported Bundles"
               menubarPath="additions"
               icon="icons/brick_edit.png"
               enablesFor="1"
               style="push"
               >
         </action>
         <action
               class="name.neilbartlett.eclipse.bndtools.builder.ToggleNatureAction"
               enablesFor="1"
               icon="icons/bnd_nature_remove.png"
               id="name.neilbartlett.eclipse.bndtools.removeBndNatureAction"
               label="Remove Bnd OSGi Project Nature"
               menubarPath="additions"
               style="push">
         </action>
         <visibility>
            <objectState
                  name="projectNature"
                  value="name.neilbartlett.eclipse.bndtools.bndnature">
            </objectState>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         id="bndproblem"
         name="Bnd OSGi Problem Marker"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <newWizardShortcut
               id="name.neilbartlett.eclipse.bndtools.newProjWiz">
         </newWizardShortcut>
         <newWizardShortcut
               id="name.neilbartlett.eclipse.bndtools.newBndFile">
         </newWizardShortcut>
         <viewShortcut
               id="name.neilbartlett.eclipse.bndtools.impExpView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="true"
            class="name.neilbartlett.eclipse.bndtools.project.ui.BndProjectPropertyPage"
            icon="icons/bricks.png"
            id="name.neilbartlett.eclipse.bndtools.projectPropertyPage"
            name="Bnd OSGi Properties"
            objectClass="org.eclipse.core.resources.IProject">
         <filter
               name="nature"
               value="name.neilbartlett.eclipse.bndtools.bndnature">
         </filter>
      </page>
   </extension>
   <extension
         id="bnd_classpath_problem"
         name="Bnd Repository Resolution Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.jdt.core.buildpath_problem">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="name.neilbartlett.eclipse.bndtools.decorators.ExportedBundlesDecorator"
            id="name.neilbartlett.eclipse.bndtools.decorators.ExportedBundlesDecorator"
            label="Exported Bundles Decorator"
            lightweight="true"
            state="true">
         <enablement>
              <objectClass
                    name="org.eclipse.core.resources.IFolder">
              </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchGroups">
      <launchGroup
            id="name.neilbartlett.eclipse.bndtools.launchRunGroup"
            image="icons/bricks.png"
            bannerImage="icons/bricks.png"
            label="Run OSGi Framework"
            mode="run">
      </launchGroup>
   </extension>
</plugin>
