<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?><!--
    Copyright (c) 2010 Neil Bartlett.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Neil Bartlett - initial API and implementation
 -->

<plugin>
   <extension-point id="osgiFrameworks" name="OSGi Frameworks" schema="schema/osgiFrameworks.exsd"/>
   <extension-point id="osgiFrameworkBuildJobs" name="OSGi Framework Build Jobs" schema="schema/osgiFrameworkBuildJobs.exsd"/>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="name.neilbartlett.eclipse.bndtools.makeBundleContribution"
            nameFilter="*.bnd"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="name.neilbartlett.eclipse.bndtools.MakeBundleWithRefreshAction"
               enablesFor="+"
               id="name.neilbartlett.eclipse.bndtools.makeBundle"
               label="Make Bundle"
               menubarPath="additions"
               tooltip="Create a bundle from this definition file">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="name.neilbartlett.eclipse.bndtools.bndEditorContribution2"
            targetID="name.neilbartlett.eclipse.bndtools.newBndEditor">
         <action
               class="name.neilbartlett.eclipse.bndtools.MakeBundleWithRefreshAction"
               icon="icons/brick.png"
               id="name.neilbartlett.eclipse.bndtools.makeBundleAction"
               label="Make Bundle"
               style="push"
               toolbarPath="Normal/additions">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="name.neilbartlett.eclipse.bndtools.editor.BndEditor"
            default="false"
            extensions="bnd"
            icon="icons/brick.png"
            id="name.neilbartlett.eclipse.bndtools.newBndEditor"
            name="Bnd Editor">
      </editor>
      <editor
            class="org.eclipse.jdt.internal.ui.propertiesfileeditor.PropertiesFileEditor"
            default="false"
            filenames="config.ini"
            icon="icons/equinox.gif"
            id="name.neilbartlett.eclipse.bndtools.equinoxConfigEditor"
            name="Equinox Config Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="name.neilbartlett.eclipse.bndtools.prefs.frameworks.FrameworkPreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="name.neilbartlett.eclipse.bndtools.launch.ui.LaunchTabGroup"
            id="name.neilbartlett.eclipse.bndtools.launchConfigurationTabGroup"
            type="name.neilbartlett.eclipse.bndtools.launchConfigurationType">
         <launchMode
               mode="run">
         </launchMode>
         <launchMode
               mode="debug">
         </launchMode>
         <launchMode
               mode="profile">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="name.neilbartlett.eclipse.bndtools.launch.LaunchShortcut"
            icon="icons/bricks.png"
            id="name.neilbartlett.eclipse.bndtools.launchShortcut"
            label="Bnd OSGi Launch"
            modes="run,debug">
         <configurationType
               id="name.neilbartlett.eclipse.bndtools.launchConfigurationType">
         </configurationType>
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <or>
                        <test
                              args="name.neilbartlett.eclipse.bndtools.bndnature"
                              property="org.eclipse.jdt.launching.hasProjectNature">
                        </test>
                        <test
                              property="org.eclipse.debug.ui.matchesPattern"
                              value="*.bnd">
                        </test>
                     </or>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <enablement>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
               <iterate>
                  <or>
                     <test
                           args="name.neilbartlett.eclipse.bndtools.bndnature"
                           property="org.eclipse.jdt.launching.hasProjectNature">
                     </test>
                     <test
                           property="org.eclipse.debug.ui.matchesPattern"
                           value="*.bnd">
                     </test>
                  </or>
               </iterate>
            </with>
         </enablement>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="name.neilbartlett.eclipse.bndtools.wizardCategory"
            name="Bnd OSGi Tools">
      </category>
      <wizard
            category="name.neilbartlett.eclipse.bndtools.wizardCategory"
            class="name.neilbartlett.eclipse.bndtools.wizards.EmptyBndFileWizard"
            icon="icons/brick_add.png"
            id="name.neilbartlett.eclipse.bndtools.newBndFile"
            name="New Bnd Bundle Descriptor"
            project="false">
      </wizard>
      <wizard
            category="name.neilbartlett.eclipse.bndtools.wizardCategory"
            class="name.neilbartlett.eclipse.bndtools.wizards.WrappingBndFileWizard"
            icon="icons/package_add.png"
            id="name.neilbartlett.eclipse.bndtools.wrappingBndWizard"
            name="New Bnd Wrapper Script for Existing JARs">
      </wizard>
      <wizard
            category="name.neilbartlett.eclipse.bndtools.wizardCategory"
            class="name.neilbartlett.eclipse.bndtools.wizards.NewBndProjectWizardFactory"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            icon="icons/bricks.png"
            id="name.neilbartlett.eclipse.bndtools.newProjWiz"
            name="Bnd OSGi Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="name.neilbartlett.eclipse.bndtools.viewCategory"
            name="Bnd OSGi">
      </category>
      <view
            category="name.neilbartlett.eclipse.bndtools.viewCategory"
            class="name.neilbartlett.eclipse.bndtools.views.impexp.ImportsExportsView"
            icon="icons/packages.gif"
            id="name.neilbartlett.eclipse.bndtools.impExpView"
            name="Imports/Exports"
            restorable="true">
      </view>
   </extension>
   <extension
         id="bndnature"
         name="Bnd OSGi Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="name.neilbartlett.eclipse.bndtools.builder.BndProjectNature">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
      <builder
            id="name.neilbartlett.eclipse.bndtools.bndbuilder">
      </builder>
   </extension>
   <extension
         id="bndbuilder"
         name="Bnd OSGi Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="true"
            hasNature="true">
         <run
               class="name.neilbartlett.eclipse.bndtools.builder.BndIncrementalBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="name.neilbartlett.eclipse.bndtools.nonBndProjectContribution"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="name.neilbartlett.eclipse.bndtools.builder.ToggleNatureAction"
               enablesFor="1"
               icon="icons/bnd_nature_add.png"
               id="name.neilbartlett.eclipse.bndtools.addBndNatureAction"
               label="Add Bnd OSGi Project Nature"
               menubarPath="additions"
               style="push">
         </action>
         <visibility>
            <and>
               <objectState
                     name="projectNature"
                     value="org.eclipse.jdt.core.javanature">
               </objectState>
               <not>
                  <objectState
                        name="projectNature"
                        value="name.neilbartlett.eclipse.bndtools.bndnature">
                  </objectState>
               </not>
            </and>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="name.neilbartlett.eclipse.bndtools.bndProjectContribution"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="name.neilbartlett.eclipse.bndtools.classpath.ui.ManageImportsAction"
               id="name.neilbartlett.eclipse.bndtools.manageImportsAction"
               label="Manage Imported Bundles"
               menubarPath="additions"
               icon="icons/brick_edit.png"
               enablesFor="1"
               style="push"
               >
         </action>
         <action
               class="name.neilbartlett.eclipse.bndtools.builder.ToggleNatureAction"
               enablesFor="1"
               icon="icons/bnd_nature_remove.png"
               id="name.neilbartlett.eclipse.bndtools.removeBndNatureAction"
               label="Remove Bnd OSGi Project Nature"
               menubarPath="additions"
               style="push">
         </action>
         <visibility>
            <objectState
                  name="projectNature"
                  value="name.neilbartlett.eclipse.bndtools.bndnature">
            </objectState>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         id="bndproblem"
         name="Bnd OSGi Problem Marker"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <newWizardShortcut
               id="name.neilbartlett.eclipse.bndtools.newProjWiz">
         </newWizardShortcut>
         <newWizardShortcut
               id="name.neilbartlett.eclipse.bndtools.newBndFile">
         </newWizardShortcut>
         <viewShortcut
               id="name.neilbartlett.eclipse.bndtools.impExpView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         id="bnd_classpath_problem"
         name="Bnd Repository Resolution Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.jdt.core.buildpath_problem">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
   
   <!-- NEW STUFF -->
   	   <extension
       point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
          id="aQute.bnd.classpath.container"
          class="aQute.bnd.classpath.BndContainerInitializer"/>
   </extension>
   <extension 
       point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
          id="aQute.bnd.classpath.container"
          name="bnd classpath"
          class="aQute.bnd.classpath.BndContainerPage"/>
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="aQute.bnd.junit.OSGiJUnitTabGroup"
            description="Help!"
            id="aQute.bnd.junit.OSGiJUnitTabGroup"
            type="aQute.bnd.junit.launchconfig">
         <launchMode
               description="%jUnitTabGroup.description.debug"
               mode="debug"
               perspective="org.eclipse.debug.ui.DebugPerspective">
         </launchMode>
         <launchMode
               description="%jUnitTabGroup.description.run"
               mode="run">
         </launchMode>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="aQute.bnd.launch.LaunchTabGroup"
            id="aQute.bnd.launch.tabgroup"
            type="aQute.bnd.launch">
      </launchConfigurationTabGroup>
   </extension>
   
   	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
	    <launchConfigurationType
           delegate="aQute.bnd.launch.LaunchDelegate"
           id="aQute.bnd.launch"
           modes="run, debug"
           name="OSGi Run"
           sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
           sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
	    </launchConfigurationType>	
      <launchConfigurationType
            delegate="aQute.bnd.junit.OSGiJUnitLauncherConfigurationDelegate"
            delegateDescription="Launches the JUnit Tests in an OSGi Framework and injects a BundleContext"
            delegateName="OSGi JUnit Tests"
            id="aQute.bnd.junit.launchconfig"
            migrationDelegate="org.eclipse.jdt.internal.junit.launcher.JUnitMigrationDelegate"
            modes="run, debug"
            name="OSGi JUnit Tests"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
   </extension>
	
	
	
	
	
	
	   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            label="OSGi JUnit"
            icon="icons/test.gif"
            class="aQute.bnd.junit.OSGiJUnitLaunchShortcut"
            modes="run, debug"
            id="org.eclipse.jdt.junit.junitShortcut">
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value="1"/>
               	  <iterate>
                     <adapt type="org.eclipse.jdt.core.IJavaElement">
		                <test property="org.eclipse.jdt.core.isInJavaProject"/>
		                <test property="org.eclipse.jdt.core.hasTypeOnClasspath" value="junit.framework.Test"/>
		                <test property="org.eclipse.jdt.junit.canLaunchAsJUnit" forcePluginActivation="true"/>
		             </adapt>
		          </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <perspective
               id="org.eclipse.jdt.ui.JavaPerspective">
         </perspective>
         <perspective
               id="org.eclipse.jdt.ui.JavaHierarchyPerspective">
         </perspective>
         <perspective
               id="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         </perspective>
         <perspective
               id="org.eclipse.debug.ui.DebugPerspective">
         </perspective>
         <configurationType
               id="org.eclipse.jdt.junit.launchconfig">
         </configurationType>
         <description
               description="Debug a JUnit Test in an OSGi Framework"
               mode="debug">
         </description>
         <description
               description="Run an OSGi JUnit Test in an OSGi framework"
               mode="run">
         </description>
      </shortcut>
      <shortcut
            class="aQute.bnd.launch.Shortcut"
            icon="icons/run.gif"
            id="aQute.bnd.launch.shortcut"
            label="OSGi Run"
            modes="run, debug">
         <perspective
               id="org.eclipse.jdt.ui.JavaPerspective">
         </perspective>
         <perspective
               id="org.eclipse.jdt.ui.JavaHierarchyPerspective">
         </perspective>
         <perspective
               id="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         </perspective>
         <perspective
               id="org.eclipse.debug.ui.DebugPerspective">
         </perspective>
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.jdt.core.IJavaElement">
                        <test
                              property="org.eclipse.jdt.core.isInJavaProject">
                        </test>
                        <test
                              property="org.eclipse.jdt.core.hasTypeOnClasspath"
                              value="junit.framework.Test">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.jdt.junit.canLaunchAsJUnit">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   
   
</plugin>
