<?xml version="1.0" encoding="UTF-8"?>
<?pde version="3.5"?>

<target name="BndTools Target Platform">
<locations>
<location path="${eclipse_home}" type="Profile"/>
<location path="${workspace_loc:/name.neilbartlett.eclipse.bndtools.feature/target_extras}" type="Directory"/>
</locations>
<environment>
<os>macosx</os>
<ws>carbon</ws>
<arch>ppc</arch>
</environment>
</target>
