<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.5"?>

<target name="BndTools Target Platform">
<locations>
<location path="${eclipse_home}" type="Profile"/>
</locations>
</target>
