---
title: URL HTTPS Verification Plugin
layout: default
summary: Verfifies that an HTTPS connection can be trusted  
---