html, body {
	max-width: 100%;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	color: #333;
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-size: 1rem;
	line-height: 1.5rem;
	vertical-align: baseline;
	font-family: "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L",
	"Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	color: #720F10;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #b61819;
}

h1 {
	font-size:1.75em;
	counter-reset:h2 0;
	counter-reset:h3 0;
	margin: 3rem 0 1rem;
}

h1:first-child {
	margin-top: 1rem;
}

h1::before {
	content:counter(h1)
}

h2 {
	font-size:1.4em;
	counter-increment:h2 1;
	counter-reset:h3 0;
	margin: 2.5rem 0 1rem;
}

h2:before {
	content:counter(h1) "." counter(h2)
}

h3 {
	font-size:1.3em;
	counter-increment:h3 1;
	margin: 2rem 0 0.75rem;
}

h3:before {
	content:counter(h1) "." counter(h2) "." counter(h3);
	counter-increment:h3 1
}

h1::before, h2::before, h3::before {
	background: #994b3a;
	color: white;
	padding: 0 1rem;
	margin-right: 1rem;
}

h4 {
	font-size:1.2em;
	margin: 1rem 0;
}

h5 {
	font-size:1.1em;
	margin: 1rem 0;
}

h6 {
	font-size:1em;
	margin: 1rem 0;
}

dt {

}

.content p, .content li {
	margin-bottom: 0.75rem;
}

.content ul {
	margin-left: 2rem;
	list-style-type: disc;
}

.content code, .content pre {
	background: #eee;
	border-radius: 6px;
	padding: 0.15rem 0.25rem;
	overflow: scroll;
}

.content pre, .content code, .content dt {
	font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
}

.content dt {
	margin: 1rem 0 0.5rem;
}
.content dd {
	margin: 0 0 1.5rem 2rem;
}

.content pre {
	background: #eee;
	padding: 0.5rem;
	margin: 0 0 1rem;
	font-size: 85%;
	border-radius: 6px;
}

.content blockquote {
	quotes: none;
	border-left: 5px solid #ccc;
	padding: 0 0 0 0.5rem;
	margin-bottom: 0.75rem;
	color: #777;
}

.content .illustration {
	display: block;
	margin: 1.75rem auto;
	max-width: 100%;
}

table td {
	border: 1px solid #ccc;
	padding: 0.5rem;
}

table tr:nth-child(even) {
	background: #f5f5f5;
}

table tr thead {
	background: #f0f0f0;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	max-width: 980px;
	margin: 0 auto;
}

.menu-bar {
	display: flex;
	flex: 0 0 100%;
	margin: 2rem 0 4rem;
	padding: 0.5em 0;
	border-bottom: 2px solid #ccc;
	line-height: 40px;
}
.menu-bar > li {
	margin: 0 0.75rem;
}
.menu-bar > li:last-of-type{
	flex: 1 0
}
.menu-bar > li:first-of-type {
	flex: 1 0;
	margin-left: 0;
}
.menu-link img {
	display: block;
}

#docsearch {
	float: right;
	padding: 2px 0;
}


.side-nav {
	flex: 3;
	max-width: 30%;
}
.side-nav li {
	margin: 0 0 0.5em;
}

.notes-margin {
	flex: 9;
	max-width: 70%;
}

@media only screen and (max-device-width: 450px) {
	.menu-bar {
		display: block;
	}
	.side-nav, .notes-margin {
		padding: 0.75rem;
		max-width: 100%;
		flex: 1 1 100%;
	}
	.wrapper {
		max-width: 100%;
	}
}

.dropbtn {
	background: #994b3a;
	color: white;
	padding: 0 0.75rem;
}
.dropdown-content {
	display: none;
	position: absolute;
	background: white;
	padding: 1.5rem;
	border: 1px solid #eee;
	box-shadow: 1px 2px 3px #ccc;
}
.releases:hover .dropdown-content {
	display: block;
}
.dropdown-content a {
	display: block;
}

nav.next-prev {
	flex: 0 0 100%;
}

.discourse-link {
	display: block;
	color: #3A9977;
	letter-spacing: 0.05rem;
	font-weight: bold;
	margin: 4rem 0 2rem;
	cursor: pointer;
}
.discourse-text-link {
	color: #3A9977;
	text-decoration: underline;
}

footer {
	flex: 0 0 100%;
	border-top: 1px solid #ccc;
	padding: 1rem 0;
	margin-top: 3rem;
}


.home .hero {
	flex: 0 0 100%;
	margin: 1rem 0;
}
.home .third {
	flex: 1 1;
	margin: 0 0.5rem;
}
.home .third h1 {
	font-size: 1.5rem;
}
.home .third h1::before {
	content: '';
	display: none;
}
