<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="bndtools.core.repositoryContributor">
      <repository
            name="Extras"
            path="repo/">
         <description>
            A repository containing an extended set of bundles.
         </description>
      </repository>
   </extension>

</plugin>
