<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="bndtools.core.repositoryContributor">
      <repository
            name="Extras"
            path="repo/">
         <description>
            An extended repository containing a richer set of bundles. It includes all bundles that are present in the Base repository.
         </description>
      </repository>
   </extension>

</plugin>
