.menu-bar {
	display: flex;
	flex: 0 0 100%;
	margin: 2rem 0 4rem;
	padding: 0.5em 0;
	border-bottom: 2px solid #ccc;
	line-height: 40px;
	> li {
		margin: 0 0.75rem;
		&:last-of-type {
			flex: 1 0;
		}
		&:first-of-type {
			flex: 1 0;
			margin-left: 0;
		}
	}
}

.menu-link img {
	display: block;
}

#docsearch {
	float: right;
	padding: 2px 0;
}


.dropbtn {
	background: #994b3a;
	color: white;
	padding: 0 0.75rem;
}
.dropdown-content {
	display: none;
	position: absolute;
	background: white;
	padding: 1.5rem;
	border: 1px solid #eee;
	box-shadow: 1px 2px 3px #ccc;
	a {
		display: block;
	}
}

.releases:hover .dropdown-content {
	display: block;
}
