<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="bndtools.core.repositoryContributor">
      <repository
            name="Eclipse Orbit R20100114021427"
            class="bndtools.repository.orbit.OrbitRepository:http://download.eclipse.org/tools/orbit/downloads/drops/R20100114021427/orbitBundles-R20100114021427.map">
         <description>
            A repository of bundled versions of third party libraries that are approved for use in one or more Eclipse projects
         </description>
      </repository>
   </extension>
</plugin>