<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/biz.aQute.bnd/src/aQute/bnd/main/bnd.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="aQute.bnd.main.bnd"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="biz.aQute.bnd"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="bnd&#13;&#10;--base ${project_loc:/biz.aQute.repository}/testresources/sonatype&#13;&#10;--debug&#13;&#10;--pedantic&#13;&#10;--trace&#13;&#10;build&#13;&#10;--workspace ${project_loc:/biz.aQute.repository}/testresources/sonatype"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="biz.aQute.bnd"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${project_loc:/biz.aQute.repository}/testresources/sonatype"/>
</launchConfiguration>
