<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin id="bnd" name="bnd" version="1.0">
	<extension point="org.eclipse.ui.popupMenus">
		
		<objectContribution objectClass="org.eclipse.core.resources.IFile"
			nameFilter="*.bnd" id="aQute.bnd.plugin.contribution1">
			<action class="aQute.bnd.plugin.popup.actions.MakeBundle"
				enablesFor="+" id="aQute.bnd.plugin.Make" label="Make Bundle"
				menubarPath="additions"
				tooltip="Create a bundle from this definition file">
			</action>
		</objectContribution>
		<objectContribution objectClass="org.eclipse.core.resources.IFile"
			nameFilter="*.jar" id="aQute.bnd.plugin.contribution2">
			<action class="aQute.bnd.plugin.popup.actions.VerifyBundle"
				enablesFor="+" id="aQute.bnd.plugin.Verify" label="Verify Bundle"
				menubarPath="additions"
				tooltip="Verify the consistency of this bundle">
			</action>
			<action class="aQute.bnd.plugin.popup.actions.WrapBundle"
				enablesFor="+" id="aQute.bnd.plugin.Wrap" label="Wrap Bundle"
				menubarPath="additions" tooltip="Wrap this JAR file as a bundle">
			</action>
			<action class="aQute.bnd.plugin.popup.actions.InstallBundle"
				enablesFor="+" id="aQute.bnd.plugin.Install" label="Install/Update Bundle"
				menubarPath="additions" tooltip="Install/Updated the JAR in the THIS framework">
			</action>
   <action
         class="aQute.bnd.plugin.popup.actions.AddToRepo"
         enablesFor="+"
         id="aQute.bnd.plugin.addtorepo"
         label="Add to Repository"
         menubarPath="additions"
         tooltip="Add this JAR to a repository">
   </action>
		</objectContribution>
	</extension>




	
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
	    <launchConfigurationType
           delegate="aQute.bnd.launch.LaunchDelegate"
           id="aQute.bnd.launch"
           modes="run, debug"
           name="OSGi Run"
           sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
           sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
	    </launchConfigurationType>	
      <launchConfigurationType
            delegate="aQute.bnd.junit.OSGiJUnitLauncherConfigurationDelegate"
            delegateDescription="Launches the JUnit Tests in an OSGi Framework and injects a BundleContext"
            delegateName="OSGi JUnit Tests"
            id="aQute.bnd.junit.launchconfig"
            migrationDelegate="org.eclipse.jdt.internal.junit.launcher.JUnitMigrationDelegate"
            modes="run, debug"
            name="OSGi JUnit Tests"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
   </extension>
	
	
	
	
	
	
	   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            label="OSGi JUnit"
            icon="icons/test.gif"
            class="aQute.bnd.junit.OSGiJUnitLaunchShortcut"
            modes="run, debug"
            id="org.eclipse.jdt.junit.junitShortcut">
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value="1"/>
               	  <iterate>
                     <adapt type="org.eclipse.jdt.core.IJavaElement">
		                <test property="org.eclipse.jdt.core.isInJavaProject"/>
		                <test property="org.eclipse.jdt.core.hasTypeOnClasspath" value="junit.framework.Test"/>
		                <test property="org.eclipse.jdt.junit.canLaunchAsJUnit" forcePluginActivation="true"/>
		             </adapt>
		          </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <perspective
               id="org.eclipse.jdt.ui.JavaPerspective">
         </perspective>
         <perspective
               id="org.eclipse.jdt.ui.JavaHierarchyPerspective">
         </perspective>
         <perspective
               id="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         </perspective>
         <perspective
               id="org.eclipse.debug.ui.DebugPerspective">
         </perspective>
         <configurationType
               id="org.eclipse.jdt.junit.launchconfig">
         </configurationType>
         <description
               description="Debug a JUnit Test in an OSGi Framework"
               mode="debug">
         </description>
         <description
               description="Run an OSGi JUnit Test in an OSGi framework"
               mode="run">
         </description>
      </shortcut>
      <shortcut
            class="aQute.bnd.launch.Shortcut"
            icon="icons/run.gif"
            id="aQute.bnd.launch.shortcut"
            label="OSGi Run"
            modes="run, debug">
         <perspective
               id="org.eclipse.jdt.ui.JavaPerspective">
         </perspective>
         <perspective
               id="org.eclipse.jdt.ui.JavaHierarchyPerspective">
         </perspective>
         <perspective
               id="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         </perspective>
         <perspective
               id="org.eclipse.debug.ui.DebugPerspective">
         </perspective>
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.jdt.core.IJavaElement">
                        <test
                              property="org.eclipse.jdt.core.isInJavaProject">
                        </test>
                        <test
                              property="org.eclipse.jdt.core.hasTypeOnClasspath"
                              value="junit.framework.Test">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.jdt.junit.canLaunchAsJUnit">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
	
	
	
	
	
	   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="aQute.bnd.junit.OSGiJUnitTabGroup"
            description="Help!"
            id="aQute.bnd.junit.OSGiJUnitTabGroup"
            type="aQute.bnd.junit.launchconfig">
         <launchMode
               description="%jUnitTabGroup.description.debug"
               mode="debug"
               perspective="org.eclipse.debug.ui.DebugPerspective">
         </launchMode>
         <launchMode
               description="%jUnitTabGroup.description.run"
               mode="run">
         </launchMode>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="aQute.bnd.launch.LaunchTabGroup"
            id="aQute.bnd.launch.tabgroup"
            type="aQute.bnd.launch">
      </launchConfigurationTabGroup>
   </extension>
	
	
	
 <extension
       point="org.eclipse.ui.editors">
    <editor
          class="aQute.bnd.jareditor.JarEditor"
          default="true"
          extensions="jar,zip"
          icon="icons/bundle.gif"
          id="aQute.bnd.jareditor.JarEditor"
          name="Jar Viewer">
    </editor>
 </extension>
	   <extension
       point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
          id="aQute.bnd.classpath.container"
          class="aQute.bnd.classpath.BndContainerInitializer"/>
   </extension>
   <extension 
       point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
          id="aQute.bnd.classpath.container"
          name="bnd classpath"
          class="aQute.bnd.classpath.BndContainerPage"/>
   </extension>
	
	
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          locationURI="popup:org.eclipse.ui.popup.any?after=additions">
          <dynamic
                class="aQute.bnd.plugin.popup.Scripts"
                id="aQute.bnd.scripts">
          </dynamic>
    </menuContribution>
 </extension>
	
 <extension
       point="org.eclipse.ui.editors">
    <editor
          class="aQute.bnd.plugin.editors.BndMultiPageEditor"
          contributorClass="aQute.bnd.plugin.editors.BndMultiPageEditorContributor"
          extensions="bnd"
          icon="icons/sample.gif"
          id="aQute.bndpro.editors.BndMultiPageEditor"
          name="Bnd Editor">
    </editor>
 </extension>
 
 </plugin>
