/* Based on kate's own default colors for Haskell */
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre
   { margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; }
td.lineNumbers { text-align: right; background-color: #EBEBEB; color: black; padding-right: 5px; padding-left: 5px; }
td.sourceCode { padding-left: 5px; }
pre.sourceCode { }
code.sourceCode span.kw { font-weight: bold; }
code.sourceCode span.dt { color: #800000; }
code.sourceCode span.dv { color: #0000FF; }
code.sourceCode span.bn { color: #0000FF; }
code.sourceCode span.fl { color: #800080; }
code.sourceCode span.ch { color: #FF00FF; }
code.sourceCode span.st { color: #DD0000; }
code.sourceCode span.co { color: #808080; font-style: italic; }
code.sourceCode span.ot { }
code.sourceCode span.al { color: green; font-weight: bold; }
code.sourceCode span.fu { color: #000080; }
code.sourceCode span.re { }
code.sourceCode span.er { color: red; font-weight: bold; }
