name: 'CI Build'

on:
  push:
    branches-ignore:
    - 'dependabot/**'
    paths:
    - '**'
    - '!docs/**'
    - '!.github/**'
    - '.github/**/*ci*'
  pull_request:
    paths:
    - '**'
    - '!docs/**'
    - '!.github/**'
    - '.github/**/*ci*'

env:
  LC_ALL: en_US.UTF-8
  GRADLE_OPTS: >-
    -Dorg.gradle.parallel=true
  MAVEN_OPTS: >-
    -Dhttp.keepAlive=false
    -Dmaven.wagon.http.pool=false
    -Dmaven.wagon.http.retryHandler.count=3
    -Daether.connector.http.retryHandler.count=5
    -Daether.connector.http.reuseConnections=false
    -Daether.connector.http.connectionMaxTtl=25
    -Daether.connector.connectTimeout=120000
  BNDTOOLS_CORE_TEST_NOJUNITOSGI: true # This test is very flaky on CI

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  build:
    strategy:
      fail-fast: ${{ (github.repository != 'bndtools/bnd') || ((github.ref != 'refs/heads/master') && (github.ref != 'refs/heads/next')) || (github.event_name == 'pull_request') }}
      matrix:
        os:
        - 'ubuntu-latest'
        java:
        - '20'
        runner:
        - '{0}' # 'xvfb-run --auto-servernum {0}'
        include:
        - os: 'ubuntu-latest'
          java: '17'
          runner: '{0}' # 'xvfb-run --auto-servernum {0}'
          canonical: ${{ (github.repository == 'bndtools/bnd') && ((github.ref == 'refs/heads/master') || (github.ref == 'refs/heads/next')) && (github.event_name != 'pull_request') }}
          fetch-depth: '0'
        - os: 'windows-latest'
          java: '17'
          runner: '{0}'
    name: Build JDK${{ matrix.java }} ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@0d381219ddf674d61a7572ddd19d7941e271515c
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

    - name: Git Checkout
      uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332
      with:
        fetch-depth: ${{ matrix.fetch-depth }}
    - name: Set up Java 8 + ${{ matrix.java }}
      uses: actions/setup-java@6a0805fcefea3d4657a47ac4c165951e33482018
      with:
        distribution: 'temurin'
        java-version: |
          8
          ${{ matrix.java }}
    - name: Set up Gradle
      uses: gradle/actions/setup-gradle@d9c87d481d55275bb5441eef3fe0e46805f9ef70
    - name: Build
      id: build
      run: |
        ${{ format(matrix.runner, './.github/scripts/ci-build.sh') }}
    - name: Configure settings.xml for Publish
      if: ${{ matrix.canonical }}
      uses: actions/setup-java@6a0805fcefea3d4657a47ac4c165951e33482018
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.java }}
        server-id: bndtools.jfrog.io
        server-username: JFROG_USERNAME
        server-password: JFROG_PASSWORD
    - name: Publish
      id: publish
      if: ${{ matrix.canonical }}
      run: |
        ./.github/scripts/ci-publish.sh
      env:
        CANONICAL: ${{ matrix.canonical }}
        JFROG_USERNAME: ${{ secrets.JFROG_USERNAME }}
        JFROG_PASSWORD: ${{ secrets.JFROG_PASSWORD }}
    - name: Upload Test Reports
      if: ${{ always() && ((steps.build.outcome == 'success') || (steps.build.outcome == 'failure')) }}
      uses: actions/upload-artifact@834a144ee995460fba8ed112a2fc961b36a5ec5a
      with:
        name: Build_JDK${{ matrix.java }}_${{ matrix.os }}-test-reports
        path: |
          */generated/test-reports/*/TEST-*.xml
          maven/*/target/surefire-reports/TEST-*.xml
          gradle-plugins/*/build/test-results/*/TEST-*.xml
