name: CI Build

on:
  push:
    paths-ignore:
    - 'docs/**'
    - '.github/**/*docs*'
    - '.github/*.yml'
  pull_request:
    paths-ignore:
    - 'docs/**'
    - '.github/**/*docs*'
    - '.github/*.yml'

env:
  LC_ALL: en_US.UTF-8
  GRADLE_OPTS: -Dorg.gradle.parallel=true

defaults:
  run:
    shell: bash

jobs:
  Build_Matrix:
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        java: [ 11, 15 ]
        runner: [ 'xvfb-run --auto-servernum {0}' ]
        script: [ 'build.sh' ]
        include:
        - os: ubuntu-latest
          java: 8
          runner: 'xvfb-run --auto-servernum {0}'
          script: 'build.sh'
          canonical: ${{ (github.repository == 'bndtools/bnd') && ((github.ref == 'refs/heads/master') || (github.ref == 'refs/heads/next')) && (github.event_name != 'pull_request') }}
          fetch-depth: '0'
        - os: ubuntu-latest
          java: 8
          runner: 'xvfb-run --auto-servernum {0}'
          script: 'rebuild.sh'
        - os: windows-latest
          java: 8
          runner: '{0}'
          script: 'build.sh'
    name: JDK${{ matrix.java }} ${{ matrix.os }} ${{ matrix.script }}
    runs-on: ${{ matrix.os }}
    steps:
    - name: Git Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: ${{ matrix.fetch-depth }}
    - name: Gradle Wrapper Validation
      uses: gradle/wrapper-validation-action@v1
    - name: Set up Java ${{ matrix.java }}
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}
    - name: Build
      id: build
      run: |
        ${{ format(matrix.runner, format('./.github/scripts/{0}', matrix.script)) }}
      env:
        CANONICAL: ${{ matrix.canonical }}
        JFROG_USERNAME: ${{ secrets.JFROG_USERNAME }}
        JFROG_PASSWORD: ${{ secrets.JFROG_PASSWORD }}
