name: 'Docs Build'

on:
  push:
    branches-ignore:
    - 'dependabot/**'
    paths:
    - 'docs/**'
    - '.github/**/*docs*'
  pull_request:
    paths:
    - 'docs/**'
    - '.github/**/*docs*'
  workflow_dispatch:

env:
  LC_ALL: en_US.UTF-8

defaults:
  run:
    shell: bash

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  docs:
    name: GitHub Pages
    runs-on: ubuntu-latest
    env:
      BUNDLE_GEMFILE: Gemfile
      BUNDLE_PATH: vendor/bundle
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

    - name: Git Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
    - name: Set up Ruby
      uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd
      with:
        ruby-version: 3.4.5
        bundler-cache: true
        working-directory: docs

    # Download and install the Pagefind binary
    # see releases: https://github.com/CloudCannon/pagefind/releases
    - name: Install Pagefind for Search
      run: |
        cd docs
        curl -L https://github.com/Pagefind/pagefind/releases/download/v1.4.0/pagefind-v1.4.0-x86_64-unknown-linux-musl.tar.gz \
          -o pagefind.tar.gz
        tar xzf pagefind.tar.gz
        chmod +x pagefind

    - name: Build
      run: |
        ./.github/scripts/docs.sh

    - name: Upload artifact
      id: deployment
      #  uploads an artifact from the './docs/_site' directory
      uses: actions/upload-pages-artifact@v4
      with:
          path: docs/_site

  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: docs
    if: github.ref == 'refs/heads/master'  # <= Restrict deploy to master
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
