name: 'wip'

#
# Used to debug actions
#


on:
  workflow_dispatch:
    inputs:
      V1:
        description: 'The just released version'
        required: true
        type: string

permissions:
  contents: read

jobs:

  #
  #

  publish-gradle-plugin:
    runs-on: ubuntu-latest
    env:
      GRADLE_PUBLISH_SECRET: ${{ secrets.GRADLE_PUBLISH_SECRET}}
      GRADLE_PUBLISH_KEY:    ${{ secrets.GRADLE_PUBLISH_KEY}}
    steps:
    - name: set up java
      uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e
      with:
        distribution: 'temurin'
        java-version: |
          17

    - name: Git Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      with:
        ref: next

    - name: publish 
      run: |
        mkdir -p ~/.gradle/
        echo "gradle.publish.key=$GRADLE_PUBLISH_KEY" >~/.gradle/gradle.properties
        echo "gradle.publish.secret=$GRADLE_PUBLISH_SECRET" >>~/.gradle/gradle.properties
        cd gradle-plugins/biz.aQute.bnd.gradle
        ../gradlew clean
        ../gradlew build
        ../gradlew publishPlugins -Pgradle.publish.key=$GRADLE_PUBLISH_KEY -Pgradle.publish.secret=$GRADLE_PUBLISH_SECRET
