name: 'Wrapper'

on:
  push:
    branches-ignore:
    - 'dependabot/**'
    paths:
    - 'gradle/wrapper/**'
    - 'gradlew*'
    - '.github/**/*wrapper*'
  pull_request:
    paths:
    - 'gradle/wrapper/**'
    - 'gradlew*'
    - '.github/**/*wrapper*'

env:
  LC_ALL: en_US.UTF-8

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  validate:
    name: Validate Gradle Wrapper
    runs-on: 'ubuntu-latest'
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

    - name: Git Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
    - name: Gradle Wrapper Validation
      uses: gradle/wrapper-validation-action@f9c9c575b8b21b6485636a91ffecd10e558c62f6
