name: 'Wrapper'

on:
  push:
    branches-ignore:
    - 'dependabot/**'
    paths:
    - 'gradle/wrapper/**'
    - 'gradlew*'
    - '.github/**/*wrapper*'
  pull_request:
    paths:
    - 'gradle/wrapper/**'
    - 'gradlew*'
    - '.github/**/*wrapper*'

env:
  LC_ALL: en_US.UTF-8

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  validate:
    name: Validate Gradle Wrapper
    runs-on: 'ubuntu-latest'
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@18bf8ad2ca49c14cbb28b91346d626ccfb00c518
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

    - name: Git Checkout
      uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
    - name: Gradle Wrapper Validation
      uses: gradle/wrapper-validation-action@55e685c48d84285a5b0418cd094606e199cca3b6
